
<table class="table table-hover table table-bordered">
  <thead class="table-dark"> 
      <th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
      </th>
  </thead>

  <tbody>
    <div id="friends">
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
        <tr> 
          <th>

            <td>
            <%= link_to friend.first_name + ' ' + friend.last_name, friend%>
            </td>
        
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.twitter %></td>
            
          </th>
        </tr>
        <%end%>
      <% end %>
    </div>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path, class:"btn btn-dark" %>



